body {
    background-image: url("../images/noisy_net/noisy_net.png");
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

header nav {
    list-style-type: none;
    color: #d4cdcc;
    /*background-color: #0b0c10;*/
    /*border-bottom: 2px solid #4717f6;*/
    border-bottom: 2px solid #1f2536;
    background-color: #13181c;
    font-family: 'Tajawal', sans-serif;
    font-size: 25px;
    padding: 6px;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    color: #1f2536;
    background-color: #ffffff;
    background: linear-gradient(#ffffffde, #ffffff4b, rgba(255, 0, 0, 0));
    background-image: url(../images/oleg-laptev-546613-unsplash.jpg);
    /*Photo by Oleg Laptev on Unsplash */
    font-family: 'Cinzel', serif;
    padding: 30vh 0;
    height: 45vh;
    margin: 0px 0 10px 0;
    text-align: center;
}

header #heading h1 {
    font-size: 4em;
}

header ul li {
    display: inline;
    padding: 1%;
}

#leftLink,
#rightLink {
    width: 47.5%;
    display: block;
    padding: 1.25%;
    font-size: 2em;
    font-family: 'Tajawal', sans-serif;
}

.logoLink {
    margin-top: 8em;
    height: 3em;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #d4cdcc;
    padding: 5px;
    background: #0f1316;
    border-radius: 5px;
    border: 2px solid #1a2025;
}

a:hover {
    background: #4717f6;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #1a2025;
}

.extLink:link,
.extLink:visited,
.extLink:active {
    background: none;
    border: none;
}

.extLink:hover {
    background: none;
    border: none;
    color: #ffffff;
    text-decoration: underline;
}

body h2 {
    color: #d4cdcc;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    text-align: center;
    padding: 1em 0 15px 10px;
}

.about p {
    font-family: 'Tajawal', sans-serif;
    color: #d4cdcc;
    font-size: 18px;
    line-height: 1.8;
    border-top: 2px solid #1f2536;
    border-bottom: 2px solid #1f2536;
    padding: 20px;
    border-radius: 15px;
    background: #12161a;
}

.block {
    display: block;
    overflow: hidden;
    height: 150px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #1f2536;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.portfolio img {
    max-width: 100%;
    min-height: 100%;
}

#portfolioDiv {
    margin-top: 70px;
}

.portfolio h3 {
    font-size: 25px;
    font-family: 'Tajawal', sans-serif;
    color: #d4cdcc;
    padding: 10px;
    text-align: center;
    background: #12161a;
}

.portfolio p {
    font-family: 'Tajawal', sans-serif;
    color: #d4cdcc;
    font-size: 18px;
    padding: 0 15px 15px 15px;
    background: #12161a;
    border-bottom: 2px solid #1f2536;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 1.8;
    margin-bottom: 40px;
}

section {
    float: left;
    width: 45%;
    margin: 2.5%;
}

article p {
    text-align: center;
}

.floatLeft,
.floatRight {
    margin: 0 10px 0 10px;
}

span.description {
    color: #d4cdcc;
}

.form form {
    display: block;
    border-top: 2px solid #1f2536;
    border-bottom: 2px solid #1f2536;
    padding: 20px;
    border-radius: 15px;
    background: #12161a;
}

#name,
#email {
    width: 50%;
    margin: 10px 0 15px 0;
}

#message {
    height: 8em;
    width: 100%;
    margin: 10px 0 15px 0;
}

.form p {
    font-family: 'Tajawal', sans-serif;
    color: #d4cdcc;
    font-size: 18px;
    line-height: 1;
}

input,
textarea {
    border-radius: 5px;
}

.submit {
    background-color: #1f2536;
    border: 2px solid #1f2536;
    border-radius: 5px;
    color: #e7dfdd;
    font-family: 'Tajawal', sans-serif;
    height: auto;
    width: auto;
    padding: 10px 20px;
    font-size: 20px;
    float: right;
}

.container {
    clear: both;
}

footer p {
    padding: 4.5em 0 1.5em 0;
    background: linear-gradient(rgba(255, 0, 0, 0), #1f2536);
    margin-top: 1em;
    text-align: center;
    color: #d4cdcc;
    font-family: 'Tajawal', sans-serif;
}

/* hr {
    border: 0;
    height: 0;
    border-bottom: 2px solid #46464da6;
} */

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #12161a,#d4cdccd3, #12161a);
    background-image: -moz-linear-gradient(left, #12161a,#d4cdccd3, #12161a);
    background-image: -ms-linear-gradient(left, #12161a,#d4cdccd3, #12161a);
    background-image: -o-linear-gradient(left, #12161a,#d4cdccd3, #12161a);
    }

@media screen and (max-width: 940px) {
    header ul {
        font-size: 18px;
    }
    header h1 {
        margin: 32px 0 10px 0;
    }
    header ul li {
        padding: 0;
    }
    section {
        float: none;
        width: 100%;
        margin: 0%;
    }
    header #heading h1 {
        font-size: 2.5em;
    }
    nav,
    ul {
        width: 90%;
    }
}